@use "sass:color";

// // SCSS Variables
// $background-color: #f5f5f5;
// $text-color: #333;
$accent-color: rgb(243, 46, 91);

html {
    box-sizing: border-box;
}

body, input {
    font: caption;
}

input {
    padding: 0.5em;
    border: 1px solid $accent-color;
    background-color: color.adjust($accent-color, $lightness: 30%);
}

button, .button, input[type="submit"] {
    background-color: $accent-color;
    border: 1px solid color.adjust($accent-color, $lightness: -10%);
    color: white;
    padding: 0.5em;
    &.hover {
        background-color: color.adjust($accent-color, $lightness: 10%);
    }
    &:active {
        background-color: color.adjust($accent-color, $lightness: 5%);
    }
    &.full-width {
        width: 100%;
        margin: 1em 0;
    }
    &.secondary {
        background-color: color.adjust($accent-color, $lightness: 10%);
        border-color: $accent-color;
        color: $accent-color;
    }
    &.delete {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        padding: 0 0.5em;
    }
}

.NewItem {
    display: flex;
}

.NewItem-input {
    width: 100%;
}

